body {
}

#reservationPageContent {
    padding: 0 0 0 2em;
}








/*Medium screens*/
/*#accomHeader h2 {
    position: absolute;
    top: 1em;
    font-family: 'Tangerine', cursive;
    font-size: 4em;
    color: #400000;*/
}
