
@{
    ViewBag.Title = "Accomodations";
}

<div class="container" id="accomHeader">
    
    <img class="img img-responsive" src="~/Content/images/RoomPics/slippersCouch.jpg" />
    <h2>Accomodations</h2>


</div>



