@{
    ViewBag.Title = "Index";
    
}

<h2>Welcome to the Overlook Resort Hotel</h2>
<br />
@if (!(Context.User.Identity.IsAuthenticated))
{
    @Html.ActionLink("Login", "Login", "Account")<span> | </span>
}

@Html.ActionLink("Create an account", "SignUp", "Account")<span> | </span>
@Html.ActionLink("Make a Reservation", "Reservation", "Reservation")