@{
    ViewBag.Title = "UnAuthorized";

}

<h2>Unauthorized Access</h2>
<p>We're sorry. You don't have permission to access this page. If you feel that you've reached this page
    in error, please contact an administrator.</p>

<div>
    @Html.ActionLink("Back to Main", "Welcome", "Home")
</div>  