@using ResortHotelRev2.Models.EntityManager;
@{
    ViewBag.Title = "Welcome";
}

<meta http-equiv="refresh" content="3;url=/">

<div class="container backPanel">
    <h3>Hello, <b>@Context.User.Identity.Name</b>.<br /> Thank you for choosing the Overlook Resort Hotel.</h3>


</div>






