<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="hamburger" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Overlook Resort Hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (!(Context.User.Identity.IsAuthenticated))
                    {
                    <li><a id="loginButton" class="btn">Login</a></li>
                    <li id="loginPage"></li>
                    <li>@Html.ActionLink("Create an account", "SignUp", "Account")</li>
                    }

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Make a Reservation", "Reservation", "Reservation")</li>
                    <li>@Html.ActionLink("View My Reservations", "ViewMyReservations", "Reservation")</li>
                    <li>@Html.ActionLink("Logged in as: " + @Context.User.Identity.Name + ". Sign Out?", "SignOut", "Account")</li>

                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" id="body-content">


        @RenderBody()
        <hr />
        <footer>
            <p id="footer" style="text-align: center">&copy; @DateTime.Now.Year - The Overlook Resort Hotel</p>
        </footer>
    </div>

</body>



</html>

<script type="text/javascript">
        $(document).ready(function () {

            //Loads the login partial page
            var loginPageOpen = false;
            $('#loginButton').one("click", function () {
                $('#loginPage').load('@Url.Action("Login", "Account")');
                loginPageOpen = true;

                //Closes login partial page if user clicks outside of the container.
                $(document).click(function (e) {

                    if (loginPageOpen) {
                        var container = $("#loginPage");
                        var button = $("#loginButton");

                        if (!button.is(e.target)) {
                            if (!container.is(e.target) // if the target of the click isn't the container...
                                && container.has(e.target).length === 0) // ... nor a descendant of the container

                            {
                                container.empty();
                                $('.navbar-collapse').collapse('hide');

                                loginPageOpen = false;
                            }

                        }
                    }
                })

            });


    });






</script>