@model ResortHotelRev2.Models.ViewModel.RoomAndReservationModel

@{
    ViewBag.Title = "PlaceReservation";
}


<h2>Thank you!</h2>

<p>Thank you for choosing the Overlook Hotel. Your reservation has been placed.</p>


<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>  
